* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #333333;
  max-height: 44px;
}

nav .nav-content {
  margin: 0 auto;
  max-width: 985px;
  padding: 11px 22px;
  max-width: 1000px;
}

.nav-content ul {
  margin: 0 auto;
  list-style-type: none;
  cursor: default;
  width: auto;
  display: flex;
  justify-content: space-between;
}

nav li {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  color: #f5f5f7;
  text-decoration: none;
  padding: 0 10px;
}

nav a {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  color: #f5f5f7;
  opacity: 0.8;
  text-decoration: none;
}

li i {
  font-size: 21px;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  color: #f5f5f7;
  text-decoration: none;
  font-weight: lighter;
}

main {
  margin: 0 auto;
}

.announcement {
  padding-top: 50px;
  height: 88px;
  background-color: #f5f5f7;
}

.announcement span {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: fit-content;
}

span a {
  text-decoration: none;
  color: #06c;
  letter-spacing: inherit;
}

.unit-wrapper {
  background-size: contain;
  width: auto;
  height: 592px;
  text-align: center;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#iphone12 {
  background: url(./iphone12.jpeg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#iphone12Pro {
  background: url(./appleiphone12.jpeg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: aliceblue;
}

#ipad-pro {
  background: url(./ipad.jpeg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: aliceblue;
}

.unit-wrapper .header {
  padding-top: 44px;
}

.unit-wrapper h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.08349;
  letter-spacing: -0.002em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  color: #1d1d1f;
  margin: 0 auto;
}

.unit-wrapper h3 {
  margin-top: 5px;
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 400;
  letter-spacing: 0.009em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.unit-wrapper p {
  font-size: 17px;
  font-weight: 400;
  margin-top: 0.4em;
  color: #86868b;
  line-height: 8px;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.buttons {
  display: flex;
  justify-content: center;
  z-index: 4;
  margin-top: 0.74em;
  letter-spacing: 0.012em;
}

.buttons a {
  text-decoration: none;
  color: #06c;
  font-size: 19px;
  line-height: 1.21053;
  margin-right: 38px;
  font-weight: 400;
  letter-spacing: inherit;
  cursor: pointer;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.buttons a:hover {
  text-decoration: underline;
  color: #06c;
}

.double {
  background-size: contain;
  width: auto;
  height: 592px;
  text-align: center;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#imac {
  background: url(./imac.jpeg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#watch {
  background: url(./watch.jpeg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: aliceblue;
}
